CodigosNodeRed/flows.json
[{"id":"eb42acfa.22193","type":"tab","label":"Proyecto educación","disabled":false,"info":""},{"id":"730e881e.99ab88","type":"debug","z":"eb42acfa.22193","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":540,"y":160,"wires":[]},{"id":"7283372e.1c9248","type":"mqtt in","z":"eb42acfa.22193","name":"","topic":"/dancruz/TestBridge","qos":"2","datatype":"auto","broker":"a97dc2b5.e616c","x":250,"y":160,"wires":[["730e881e.99ab88"]]},{"id":"1d16e226.afb7de","type":"mqtt out","z":"eb42acfa.22193","name":"","topic":"/dancruz/BridgeTestOut","qos":"","retain":"","broker":"a97dc2b5.e616c","x":490,"y":280,"wires":[]},{"id":"22e34312.76c4dc","type":"inject","z":"eb42acfa.22193","name":"Off","topic":"/BridgeTest","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":260,"wires":[["1d16e226.afb7de"]]},{"id":"4196fe5c.e4813","type":"inject","z":"eb42acfa.22193","name":"On","topic":"/BridgeTest","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":320,"wires":[["1d16e226.afb7de"]]},{"id":"911c1da4.19677","type":"inject","z":"eb42acfa.22193","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":380,"wires":[["c6bab0b5.fe93"]]},{"id":"c6bab0b5.fe93","type":"template","z":"eb42acfa.22193","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM Educacion WHERE timestamp >= '{{payload.fechaini}}' OR timestamp <= '{{payload.fechafin}}'\n","output":"str","x":940,"y":400,"wires":[["3c740ad8.68a436"]]},{"id":"3c740ad8.68a436","type":"mysql","z":"eb42acfa.22193","mydb":"20c6131a.82dd44","name":"","x":1120,"y":400,"wires":[["edecae2e.56e59","64b6e969.f467a8"]]},{"id":"edecae2e.56e59","type":"debug","z":"eb42acfa.22193","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1310,"y":380,"wires":[]},{"id":"6820bf74.08c63","type":"http in","z":"eb42acfa.22193","name":"","url":"/EdUser","method":"get","upload":false,"swaggerDoc":"","x":670,"y":480,"wires":[["a25c2e61.4222e"]]},{"id":"1bbbd2a.8fdd72d","type":"debug","z":"eb42acfa.22193","name":"BridgeC","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":540,"wires":[]},{"id":"dec8d3c.c7e093","type":"mqtt in","z":"eb42acfa.22193","name":"","topic":"/char2class/TestBridge","qos":"2","datatype":"auto","broker":"a97dc2b5.e616c","x":190,"y":540,"wires":[["1bbbd2a.8fdd72d"]]},{"id":"90ad033a.63bd","type":"mqtt out","z":"eb42acfa.22193","name":"","topic":"/char2class/TestBridge","qos":"","retain":"","broker":"a97dc2b5.e616c","x":400,"y":660,"wires":[]},{"id":"f916d2c8.b50dc","type":"inject","z":"eb42acfa.22193","name":"Off","topic":"/BridgeTest","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":640,"wires":[["90ad033a.63bd"]]},{"id":"37639cbe.798fb4","type":"inject","z":"eb42acfa.22193","name":"On","topic":"/BridgeTest","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":700,"wires":[["90ad033a.63bd"]]},{"id":"64b6e969.f467a8","type":"http response","z":"eb42acfa.22193","name":"","statusCode":"200","headers":{},"x":1350,"y":460,"wires":[]},{"id":"e4b00cbd.c02c98","type":"function","z":"eb42acfa.22193","name":"SELECT Data","func":"msg.topic = \"SELECT * FROM Educacion WHERE timestamp >= '\" + msg.payload.fechaini + \"'\";\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":180,"wires":[[]]},{"id":"75a0f152.83ed5","type":"http in","z":"eb42acfa.22193","name":"","url":"/EdNewUser","method":"post","upload":false,"swaggerDoc":"","x":670,"y":620,"wires":[["a872f94e.64ed18"]]},{"id":"a25c2e61.4222e","type":"template","z":"eb42acfa.22193","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM Educacion WHERE ID >= '{{payload.ID}}'","output":"str","x":940,"y":460,"wires":[["3c740ad8.68a436"]]},{"id":"431f9740.c5fab8","type":"inject","z":"eb42acfa.22193","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":440,"wires":[["a25c2e61.4222e"]]},{"id":"999720c1.4377c","type":"http response","z":"eb42acfa.22193","name":"","statusCode":"200","headers":{},"x":1420,"y":600,"wires":[]},{"id":"343e3077.c6808","type":"debug","z":"eb42acfa.22193","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1390,"y":520,"wires":[]},{"id":"a872f94e.64ed18","type":"function","z":"eb42acfa.22193","name":"Insert User","func":"msg.topic = \"INSERT INTO Educacion (username, password) VALUES (?, ?);\";\nmsg.payload = [msg.payload.username, msg.payload.password];\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":620,"wires":[["682735d6.d0ab7c"]]},{"id":"682735d6.d0ab7c","type":"mysql","z":"eb42acfa.22193","mydb":"20c6131a.82dd44","name":"","x":1150,"y":620,"wires":[["999720c1.4377c","343e3077.c6808"]]},{"id":"a97dc2b5.e616c","type":"mqtt-broker","z":"","name":"","broker":"aulal.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"20c6131a.82dd44","type":"MySQLdatabase","z":"","name":"EMBEBIDOS","host":"aulal.org","port":"3306","db":"embebidos","tz":""}]